<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to pat(:list), url(:images, :index) %></li>
      <li><%= link_to pat(:new), url(:images, :new) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:all) %> <% mt(:images) %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first"><%= mat(:image, :id) %></th>
          <th><%= mat(:image, :image_uid) %></th>
          <th><%= mat(:image, :name) %></th>
          <th><%= mat(:image, :created_at) %></th>
          <th><%= mat(:image, :updated_at) %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @images.each do |image| %>
        <tr>
          <td class="first"><%= image.id %></td>
          <td><%= image.image_uid %></td>
          <td><%= image.name %></td>
          <td><%= image.created_at %></td>
          <td><%= image.updated_at %></td>
          <td class="last">
            <%= button_to pat(:edit), url(:images, :edit, :id => image.id), :method => :get, :class => :button_to %> |
            <%= button_to pat(:delete), url(:images, :destroy, :id => image.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')" %>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions"></div>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>
