<% title(page: "Here's some musics I composed") %>
<div class="musics row">
  <% soundcloud_tracks.each do |track| %>
  <div class="a-music" itemscope itemtype="http://schema.org/AudioObject">
    <h3 class="heading2" itemprop="name">
      <a href="<%= track.permalink_url %>" target="_blank" title="<%= track.title %>"><%= track.title %></a>
    </h3>
    <meta itemprop="contentURL" content="<%= track.permalink_url %>" />
    <!-- Plain HTML instead oEmbed return until SoundCloud API provide a way to disable artwork -->
    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=<%= track.uri %>&amp;auto_play=false&amp;show_artwork=false&amp;color=fe735b"></iframe>
  </div>
  <% end %>
</div>
